[2015-12-18 21:56] pierre-rouanet opened #5 "Inverse Kinematic expected target shape."
I've create a Chain using an Urdf file an chain of link, joint like this:

[code]

When I'm trying the forward kinematic everything seems fine:
[code]

Yet when I'm trying the inverse kinematic I got some exceptions:
[code]

Any ideas? It seems to me that the forward is returning the whole 4x4 homogeneous matrix while the inverse is only expecting the translation vector?

Actually, this seems to w

[2015-12-19 13:10] Phylliade commented on #5
Indeed, the IK accepted a 3D vector as a target, this is now fixed in dev!

[2015-12-19 13:10] #5 closed

[2016-01-08 15:49] pierre-rouanet opened #6 "Plotting with a 2D axes seems to raise an unclear Error"
Using my custom IK chain, this works well:

[code]

but this:

[code]

raises this Exception:

[code]

[2016-01-10 18:12] pierre-rouanet opened #7 "Avoid printing and use logging or add a debug mode?"
When using the IK, it prints the number of optimisation loops, etc...

This should be hidden by default right? Or maybe we could use the logging module for that?

[2016-01-11 09:45] Phylliade commented on #7
Added the logging module on [master](https://github.com/Phylliade/ikpy/commit/a168c6da265296da38f5599b734449efab0a6975)

[2016-01-11 09:46] #7 closed

[2016-02-24 14:52] s-mick opened #9 "Importing two Chain objects from URDF raises an unclear error"
I tried to create two distinct `Chain` objects, both of them being imported from URDF files:

[code]

The first object is OK and works well as long as no other URDF import is performed. I can include several kinematics calculations between these two instanciations, and nothing wrong happens. But when instanciating the second object, I get an `AttributeError`:

`
AttributeError: 'NoneType' object h

[2016-02-24 15:27] Phylliade commented on #9
Ok, i think it may be an error in the opening of the XML file. (The XML object may be reused, instead of reinstantiated). I will check this out!

[2016-03-15 15:19] show0k opened #10 "Requirements.txt is not consistent with setup.py"
[code]
You should load your requirements.txt in your setup.py (to add matplotlib as required), or better, refactor your code to make matplotlib an optional dependency.

[2016-03-26 22:08] Phylliade commented on #9
Fixed in https://github.com/Phylliade/ikpy/commit/6882b460b6eaeb86e13e24c5f8651f05bb5196d6

[2016-03-26 22:08] #9 closed

[2016-06-15 18:15] studywolf opened #12 "error trying to import forward_kinematics"
Hello! I was trying to run the Quickstart tutorial for poppy-humanoid, and it's throwing an import error looking for the forward_kinematics file, which (after some digging) i found was deleted in this commit 164a5ba680191172f0177e9c59edc5939ce1d114

Should it still be around, or should that import be removed? It looked like it wasn't just a stray import because fk functions are used throughout the

[2016-06-15 18:36] Phylliade commented on #12
Hi!
The `forward_kinematics` module has been merged directly in the `link` and `chain` modules, so it shouldn't be used anymore.
About your error, do you know which notebook was raising this import error?

Thanks for your feedback!

[2016-06-15 18:40] studywolf commented on #12
Hi! great thanks!

it's in this tutorial https://github.com/Phylliade/ikpy/blob/master/tutorials/poppy-inverse-kinematics/Quickstart.ipynb

when it was importing model the error gets thrown.
thanks!

[2016-06-15 18:43] Phylliade commented on #12
Hi again,
Actually, the `poppy-inverse-kinematics` module (and the tutorials) is deprecated. I should remove it.
A working quickstart could be found at : https://github.com/Phylliade/ikpy/blob/master/tutorials/ikpy/Quickstart.ipynb
This one should work smoothly. (But i would be happy to fix if something is wrong!).

[2016-06-15 18:45] Phylliade opened #13 "Update conda package"
2 things to do :
- Update the conda package to te last version
- Add a version for Python 2.7

[2016-06-15 18:45] studywolf commented on #12
Oh great, thanks!

[2016-06-15 18:45] #12 closed

[2016-06-15 18:46] Phylliade opened #14 "Remove `poppy-inverse-kinematics`"
`poppy-inverse-kinematics` is an old module used at the beginnings of the library. It, (and its tutorials) should be removed from the main repo.

[2016-06-15 19:58] studywolf commented on #12
oh wait, i grokked what you're saying, poppy is no longer supported?

[2016-06-15 20:03] Phylliade commented on #12
The poppy ecosystem will remain very close to the library, so it's supported!
`poppy-inverse-kinematics` is just a preliminary version of the IKPy library. (When changing the codebqse, we also changed the name):

BTW, every Poppy creature is supported, and many other robots, as long as they have an URDF.

[2016-06-15 20:04] studywolf commented on #12
ah! great! thanks :+1:

[2016-06-16 16:01] studywolf opened #15 "AttributeError: 'Robot' object has no attribute 'goto_target'"
I'm in the Inverse kinematics with the ErgoJr tutorial, and in cell 7 i'm getting

[code]

I've tried to track this down but without luck, can't find where the Robot object is stored, any ideas?

[2016-06-22 00:44] Phylliade commented on #15
I'm on it, i'll check as soon as i have some time!
Did you manage to get the other notebooks (like this [one](https://github.com/Phylliade/ikpy/blob/master/tutorials/ikpy/Quickstart.ipynb)) to work?

Thanks again for your feedback!

[2016-06-22 02:24] studywolf commented on #15
great thanks! and yup that  other one works perfect!

[2016-06-25 15:46] Phylliade commented on #14
Fixed in https://github.com/Phylliade/ikpy/pull/16

[2016-06-25 15:46] #14 closed

[2016-06-25 15:47] Phylliade commented on #15
This is now fixed : the object to use for Inverse Kinematics is actually `poppy.chain`, (not `poppy` itself).

[2016-06-25 23:18] studywolf commented on #15
awesome, thanks!

On Sat, Jun 25, 2016 at 11:47 AM, Pierre Manceron <notifications@github.com>
wrote:

[2016-07-15 11:47] HaijieLi opened #20 "inverse, forward kinematics problem"
Hi Phylliade
I am using your code to solve the ur5 kinematics.
However when I use the conmands inverse_kinematics and forward_kinematics,
the resuts are very strange.
For example in your "Getting Stated"
I simply copped the code like this:

[code]

and it returns

[[ -7.05670648e-01   6.43585169e-01   2.96356318e-01   1.49993875e-01]
 [  7.08540003e-01   6.40968301e-01   2.95179100e-01   1.5019532

[2016-07-18 22:18] mjm522 opened #21 "Creating chain from URDF"
Hi, I am trying to create a chain from URDF file of Baxter and is facing following error. I can't figure out why? What is wrong in this declaration? Any help please

[code]

I am using this file: [Baxter URDF](https://github.com/RethinkRobotics/baxter_common/blob/master/baxter_description/urdf/baxter.urdf)

And get this error!!!

[code]

[2016-08-01 15:47] JingleiSHI opened #24 "Le lancement du fichier poppy_torso.URDF"
J'ai eu un problème quand je lance les codes:  dans le dossier 'src', la classe chain a une fonction 'from_urdf_file' qui peut lire tous les joints dans le fichier URDF, mais quand je utilise le fichier 'poppy_torso.URDF' dans le dossier 'source', la fonction 'from_urdf_file' ne peut pas lire les joints, mais avec le fichier 'poppy_torso.URDF', cela marche.
Est-ce que cette faute est a cause de ma

[2016-08-08 03:07] Phylliade commented on #20
Hi HaijieLi,
This was indeed an incorrect value from another version of the robot, this is now fixed on the [guide](https://github.com/Phylliade/ikpy/wiki)!
You can also try the live version in the [notebook](https://github.com/Phylliade/ikpy/blob/master/tutorials/ikpy/Quickstart.ipynb)

Thanks for your feedback!

[2016-08-08 03:53] Phylliade commented on #21
Hi mjm522, I'll have a look and come back to you as soon as possible!

[2016-08-08 04:08] Phylliade commented on #10
Hi Theo!
This should have been fixed in https://github.com/Phylliade/ikpy/commit/fe8c07b69f587c6825d51dd0a66183345642dadf.

[2016-08-11 06:32] HaijieLi commented on #20
Thanks for your help!

[2016-08-25 21:48] franke1276 opened #26 "Solving not only the position but orientation including"
I try to solve IK for my robot. Is there any way to solve not only the position but the orientation, too?

I need a IK-Solver with such function to get the angles for my joints depending on the orientation for the end-effector of my robot. Is that possible with your library?

[2016-08-31 10:04] 1Faith commented on #21
@mjm522  I have the same problem with the Pirobot. Did you already find a solution?

I defined my base_elements as a list of strings that includes all the links of between the first link of Pirobot ("base_footprint") and the last link of its arm ("right_gripper_link"). My chain is then defined as:

`my_chain = ikpy.chain.Chain.from_urdf_file(".../rbx2/rbx2_description/urdf/pi_robot/urdf_pi_robot_w

[2016-09-01 11:53] show0k commented on #10
Great, thank you !

[2016-09-01 11:53] #10 closed

[2016-09-13 20:33] Phylliade commented on #26
Hi franke1276,
This feature is not implemented yet, but, if you want, you can add it by using the [dev API](https://github.com/Phylliade/ikpy/wiki/Developper-API), it should be pretty straightforward.

[2016-09-13 20:49] Phylliade commented on #20
Hi HaijeLi,
Since this is issue is open, is there something not working in the library?

[2016-09-13 20:53] Phylliade commented on #15
Hi again Studywolf,
Is this issue closed? (Just checking which issues require some work!)

[2016-09-13 21:26] Phylliade commented on #24
Hi KingleSHI,
First, if you don't mind, can we continue in English? (To be sure to be understood by everybody).
I'm not sure to understand the first issue, is this working? :
[code]

For the second issue, if you only need Forward Kinematics (FK), you're ready to go! You can also plot it. (More details in the links below).
If you want to do inverse Kinematics, you can try this tutorial, to have a c

[2016-09-13 21:48] Phylliade commented on #21
Hi mjm522 and 1Faith,
Actually, the importer is creating a blank chain from the Baxter robot. (That's exactly the same for the Pirobot error).
Maybe it's caused by the slight deviations in the URDF format : i will investigate that.
@1Faith, could you provide the URDF file for the Pirobot?

[2016-09-14 10:04] 1Faith commented on #21
@Phylliade Thanks for your reply.

My URDF file is made from an adapted xacro-file based on: [https://github.com/pirobot/rbx2/blob/indigo-devel/rbx2_description/urdf/pi_robot/pi_robot_with_arm.xacro](url) Underlying files were also adapted, basically to remove the wheels and functionality that enables it to move in a plane, because it was causing problems.

I hope you can identify the problem.

[u

[2016-09-15 21:36] studywolf commented on #15
oh, yes! thanks!

[2016-09-15 21:36] #15 closed

[2016-10-13 14:17] show0k commented on #26
Hi,
I have absolutely no idea what it worth, but someone on the poppy forum [apparently manage ](https://forum.poppy-project.org/t/inverse-kinematic-with-pen-holder-poppy-ergo-jr/2601/7) to add a orientation constraint to the end effector for drawing with a Poppy Ergo Jr.
It basically change the optimization function from L-BFGS-B to SLSQP which enable to add an angle constraints on the ouput.

[2016-12-01 05:27] smandyscom opened #28 "Prismatic joint works as revolute one"
Hi , i created a following URDF

[code]

When trying to do chain.forward_kinematic , it outputs this:

command
`my_chain.forward_kinematics([0,10],True)`

output
[code]

seems it rotates about X-axis, but translate from X-axis was expected.
Is prismatic joint supported ? thanks.

[2016-12-01 19:52] Phylliade commented on #28
Hi smandyscom, prismatic joints are currently not supported out of the box. But, internally, everything is set up in order to support them : the internal structure of the library can handle prismatic joints with no changes.
Actually, it only requires to add the syntax for the prismatic joints to the [URDF parser](https://github.com/Phylliade/ikpy/blob/master/src/ikpy/URDF_utils.py#L15-L44), and yo

[2016-12-01 21:01] Phylliade commented on #24
Hi KingleiSHI, is the issue closed?

[2017-01-08 19:58] helxsz opened #29 "Hi, any tutorials ?"
I am working on the [Dobot robotic arm](http://dobot.cc/dobot-armv1/product-overview.html), how would I get started on the library, do you have any tutorials to begin with ?

[2017-01-19 08:37] show0k opened #30 "Unsing standalone ros URDF parser instead of yours"
One year ago ROS people published a [standalone python URDF parser ](https://github.com/ros/urdf_parser_py). It could be interesting to use this one to be sure that every URDF supported by ROS works with ikpy.
It could avoid issues like #21.

[2017-02-09 22:56] Rogerpi commented on #21
Check https://github.com/Phylliade/ikpy/blob/master/src/ikpy/chain.py , from_urdf_file function

Maybe the issue is that you have a diferent base link name. I used a urdf file generated from a xacro file and I had the same trouble. Change it in the arguments:

my_chain = ikpy.chain.Chain.from_urdf_file("./src/moveo/urdf/moveo.urdf",base_elements=["base"])

"./src/moveo/urdf/moveo.urdf" is my urdf

[2017-03-09 09:09] matteopantano opened #31 "youbot.urdf IK"
Hi,

I am trying to use ikpy on my urdf file, generated by the command:
`rosrun xacro xacro.py -o model.urdf model.urdf.xacro`
And here the file auto-generated: [youbot.txt](https://github.com/Phylliade/ikpy/files/830270/youbot.txt)

As long I am developing a project in a simulation environment (V-REP) I must connect arm_link_0 to base_footprint instead of base_link otherwise the tf transformation

[2017-03-09 15:26] #31 closed

[2017-03-12 18:25] matteopantano opened #32 "IT DOES NOT RESPECT LIMITS"
Hi,

As written on the tittle, the tool does not respect limits sent by URDF, I do not know if it is a problem of my `URDF` of `function call`, can anyone give me hints?

[URDF](https://github.com/Phylliade/ikpy/files/836786/youbot.txt)

_function call_
`my_chain = ikpy.chain.Chain.from_urdf_file("/home/matteo/rover_ws/urdf/youbot.urdf", base_elements=["base_link", "arm_joint_0", "arm_link_0", "ar

[2017-03-16 15:38] Phylliade commented on #29
Hi @helxsz,
Yes, there are many ressources!
As described on the front page, there is a [notebook](https://github.com/Phylliade/ikpy/blob/master/tutorials/ikpy/Quickstart.ipynb) to quickstart, and a [wiki](https://github.com/Phylliade/ikpy/wiki) to go deeper into the library and its capabilities.
Note that you don't need anything to run the tutorials, since it will only plot the kinematic chains, o

[2017-03-16 15:38] #29 closed

[2017-03-16 15:42] Phylliade opened #33 "Document how to create custom URDFs"
It would be great to document how to write custom URDFs, for robots that don't have any, or non-compliant ones.
It could be the occasion to add new URDF samples, like the Baxter one, a standard robotics arm, etc...

[2017-03-16 15:47] Phylliade commented on #32
Actually, this functionality is working without problems on tested robots (it's mandatory to have such limits on the [poppy torso arms](https://www.poppy-project.org/en/), to avoid breaking them.

It can be related to your URDF : You can have a look at https://github.com/Phylliade/ikpy/blob/master/resources/poppy_torso.URDF#L329 to compare with yours.

When it's working, feel free to do a pull req

[2017-03-16 15:49] Phylliade commented on #30
Hi @show0k,
Yes, it seems a good idea! Do you want to do it, or is it more an idea of an enhancement for now?

[2017-03-21 16:30] show0k commented on #30
It was more an idea of enhancement, to keep the link of the URDF python parser of ROS.

[2017-04-23 01:11] Ivanildo0303 opened #34 "The Program Don't respect the Joint's Limit"
Good Night,

I'm using the lib for a project where I build my own URDF file. But when I use the program the angles wich return are bigger then my servo drivers limits. How can I fix It.

My URDF File is attached in txt because Git doesn't support URDF.
[Xinui.txt](https://github.com/Phylliade/ikpy/files/949399/Xinui.txt)

Please I need a Help.

@Phylliade @pierre-rouanet @gitter-badger @buschbapti

[2017-04-24 21:49] Ivanildo0303 commented on #34
Good Night,

I having a doubt, how can I limit the space work only to +z, because there is some links, going to under normal line Z.

Thanks

[2017-07-06 20:54] JulianYG commented on #21
I'm having the same issue on sawyer/kuka -- it's not reading in blank contents. I couldn't find any inconsistency in URDF format.

[2017-07-07 03:39] JulianYG commented on #21
I noticed I just need to change the base elements. However, the z axis value is very off.

[2017-08-11 12:47] Abhi001vj opened #35 "How to create chain of links from DH table, I got an error while trying to do that."
`l0 = ikpy.link.OriginLink()
l1 = ikpy.link.DHLink('l1', d=3, a=0, bounds=None, use_symbolic_matrix=True)
l2 = ikpy.link.DHLink('l2', d=0, a=5.75, bounds=None, use_symbolic_matrix=True)
l3 = ikpy.link.DHLink('l3', d=0, a=7.375, bounds=None, use_symbolic_matrix=True)
l4 = ikpy.link.DHLink('l4', d=0, a=0, bounds=None, use_symbolic_matrix=True)
l5 = ikpy.link.DHLink('l5', d=4.125, a=0, bounds=None, u

[2017-08-22 21:42] wkentaro opened #36 "How to load resources/contrib/baxter.urdf?"
I removed the `<transmission>` and `<gazebo>`, and got

[code]

so added `<axis xyz="0 0 1" />` to all `<joint></joint>`, but got:

[code]

so commented out

[code]

now I get

[code]

It seems strange because there is no right arm. Do you have any idea how to fix this?
Or am I missing something?

[2017-09-15 18:49] marcosvilela opened #37 "How to create a Chain without an URDF file?"
I'm aiding a 3 DOF manipulator development, and I'm looking through the library to use it on the project. But, as I'm helping making it from scratch, there is no URDF file to use, and the examples on the tutorial pages are always using it. How can I code a chain without having it previously on an URDF file?

[2017-09-19 08:57] mikekaram opened #38 "Jacobian Implementation"
Hello Phylliade,

I am trying to use your code for a 6-dof manipulator I am building. However I want to take the Jacobian from my created chain and there isn't such function. Will you implement it in the near future? After I saw that, I am trying to implement it myself, but I am having trouble as I want the symbolic transformation matrix of each link, then multiply them all and get the final (symb

[2017-10-17 21:37] Fenrir12 opened #39 "Limits issue"
Hi,

I've seen this issue brought up in other issues and I'm having it as well.
My urdf is fairly simple, you can have a look at it:
<robot name="arm_v0">
	<link name="base_link">
		<visual>
			<geometry>
        			<box size="0.3 0.25 0.1"/>
        		</geometry>
		</visual>
	</link>
	<link name="platform_link">
		<visual>
			<geometry>
        			<cylinder length="0.01" radius="0.1"/>

[2017-11-08 06:17] FOXNEOAdvancedTechnology commented on #39
There is a way to specify bounds as a tuple in a chain, but it doesn't appear to be read in from the URDF.

[2017-11-08 17:48] FOXNEOAdvancedTechnology opened #40 "Normalize angles to 2*pi"
I am seeing things like this:

('The angles of each joints are : ', array([   0.        ,  -60.47565859,  -69.55194186, -104.00364979,    0.        ]))

I suggest that the joint angles have a "% twopi" on them where twopi=2*3.14159265359.

Great library, unfortunately I can't figure out how to use limits (or if the limits in the chain really work), so it wants to drive my arm through the table in

[2017-11-21 16:35] EdoFZI opened #41 "is there a way to hold the tcp even/horizontal??"
I am looking for a way to keep my tool-center-point (tcp) even to move for example a glass of water without loosing water. Is there a way in ikpy to solve such problems??

[2018-03-06 00:24] frueter commented on #37
Same here. I tried to look up how to manually create a Chain but the docs page for the Link object is blank.
A simple example would be much appreciated.

[2018-05-12 00:59] romarcg commented on #39
I was having the same issue. It seems that the parameter from the *limits* element (in the URDF) is not recovered. From file URDF_utils.py:

[code]
The fix I choose was to rewrite this function and call it instead of the original one (I am using a packaged version of this lib). After doing this IK results seem more coherent (not jumping out of bounds).

Add the *bound* lines to the aforementioned

[2018-06-13 09:28] maximkulkin commented on #37
Guys, I have updated [Homepage](https://github.com/Phylliade/ikpy/wiki) with instructions on how to create chains manually.

[2018-06-21 16:25] HarithKK opened #43 "Origin Link is not working"
We check our handmade robot arm with ikpy. but when we use OriginLink it was not giving us the exact value.

then we use this

from ikpy.chain import Chain
from ikpy.link import OriginLink, URDFLink
from ikpy import geometry_utils
import numpy as np
import math

robotarm = Chain(name='left_arm', links=[

    URDFLink(
      name="mx",
      translation_vector=[0,0, 0],
      orientation=[0, 0, 0],

[2018-07-14 17:14] C-Aniruddh opened #44 "AttributeError: 'DHLink' object has no attribute '_length'"
The above error arises because the ```self._length``` parameter is not defined in the DHLink class (found at https://github.com/Phylliade/ikpy/blob/master/src/ikpy/link.py)

So, if I try to initialize the bot by using the following code :

[code]
I would end up with an error : "```AttributeError: 'DHLink' object has no attribute '_length'```". Does anyone know how to calculate the ```_length``` fr

[2018-07-27 22:00] RuWang15 opened #45 "Bounds of the link in ikpy.link module"
Does the bound attribute here means limit in URDF file? Can you provide some examples on how to set bounds of a link?

[2018-08-30 15:12] svabhishek29 opened #46 "ik angles for more than one axis of rotation"
Hi,

i was trying out the sample code and modified the chain to as below
`left_arm_chain = Chain(name='left_arm', links=[
    OriginLink(),
    URDFLink(
        name="shoulder",
        translation_vector=[1, 0, 0],
        orientation=[0, 0, 0],
        rotation=[0, 1, 1],
    ),
    URDFLink(
        name="elbow",
        translation_vector=[10, 0, 0],
        orientation=[0, 0, 0],
        rot

[2018-11-27 09:17] vivekpatel99 commented on #37
@maximkulkin can you please provide me with some information, How can I get those parameters of "chain" ("Creating a chain manually") for the robotic arm?

[2018-12-20 11:02] snape6666 opened #48 "Target with rotation"
Hey guys,
is there a way to get a solution for a rotated target? We would like to use ikpy for our robotik, animations in unity, but therefor we need to rotate the target.

Any ideas?

[2019-02-19 13:23] susanto-tm commented on #44
@C-Aniruddh I am experiencing the same issue at the moment. Have you found a way to solve this issue?

[2019-03-17 14:40] #32 closed

[2019-03-17 15:31] Phylliade commented on #39
Bounds are now taken into account thanks to #42

[2019-03-17 15:31] #39 closed

[2019-03-17 15:32] Phylliade commented on #34
Bounds are now taken into account thanks to #42

[2019-03-17 15:32] #34 closed

[2019-04-04 08:09] ThotAlion opened #52 "install on python 2.7 fails"
the command to install on python 2.7 fails (issue about encoding)

pip install ikpy

screen of error :
https://forum.poppy-project.org/t/erreur-installation-pypot/4312

[2019-04-06 16:32] Phylliade commented on #52
Thanks for the report;

A new version with the fix (2.3.1) has been uploaded on PyPI, compatible with both python 2 and 3

[2019-04-06 16:32] #52 closed

[2019-05-21 12:44] 3dprintingdoctor opened #55 "can I creat a Chain with D-H table?"

[2019-05-21 12:45] 3dprintingdoctor commented on #44
I am experiencing the same issue at the moment. Have you found a way to solve this issue?

[2019-06-04 14:10] Lutarp opened #56 "Create Chain method will not make chain from URDF file and also does not throw an error"
Hi, while using the library on a raspberry PI, the .from_urdf_file() method seems to run fine on the tutorial file poppy_ergo.URDF. But when given my URDF file to create a chain it does not actually create a chain, merely creating a simple base_link fill in. It also does not throw any error when trying to parse the file, it simply takes it and does not parse any data.
![Screenshot (8)](https://use

[2019-06-05 12:28] Lutarp opened #57 "URDF files when imported, Import the joints as the links"
When loading a URDF file to make a chain, the joints are loaded as URDF links rather than the actual links.

[2019-06-05 17:48] Carpetfizz opened #58 "'NoneType' object has no attribute 'attrib'"
I'm getting the following error when trying to import a chain defined by a URDF.

[code]

I'm not too familiar with the URDF format, or ikpy's parser to figure out what this error means. Any suggestions on how to proceed would be much appreciated.

[2019-06-09 20:38] #13 closed

[2019-06-09 20:38] #20 closed

[2019-06-09 20:39] #33 closed

[2019-06-09 20:46] Phylliade commented on #58
Hey @Carpetfizz, could you paste your URDF?

[2019-06-09 20:48] Phylliade commented on #56
Hey @Lutarp, could you paste your URDF file?

[2019-06-09 20:49] #28 closed

[2019-06-09 22:06] #36 closed

[2019-06-09 22:21] Phylliade commented on #57
That's indeed a difference in nmaings between ikpy and URDF:

* URDF joints = IKPY links
* IKPY does not use URDF links

[2019-06-09 22:26] Phylliade commented on #57
This will be tackled in a future release. For the moment, this is documented here:

https://github.com/Phylliade/ikpy/blob/master/src/ikpy/chain.py#L159-L160

[2019-06-10 10:22] Phylliade commented on #48
Support for rotation is planned in a future milestone!

[2019-06-10 10:28] Phylliade commented on #41
Rotation is a feature planned in a next milestone!

[2019-06-10 10:32] Phylliade commented on #6
Hey @pierre-rouanet, trying to close this :)

For what it seems, it's because we are giving three arguments to this function, which only expects two!
We should find a way to force use of a 3D projection

[2019-06-10 10:32] #6 closed

[2019-07-21 09:43] juergmaier opened #60 "can not plot the chain"
I am using Miniconda 64bit python. 3.6 on w10
both lines
%matplotlib inline
%matplotlib notebook
result in an error (invalid syntax)
commenting both out does not show a plot window.

[2019-07-21 10:19] juergmaier commented on #60
commenting out both %matplotlib lines and adding a plt.show() to my script finally worked for me.

[2019-07-27 16:51] Phylliade commented on #60
👍 !

[2019-07-27 16:51] #60 closed

[2019-08-20 19:18] AhmetMericOzcan commented on #26
I believe giving constraints are not enough for orientation.

[2019-08-20 19:21] AhmetMericOzcan opened #61 "Not position but Orientation for IK solver"
I tested your library, pretty decent by selecting active joints. However your library minimize its IK solver error by position not by its Orientation. In other words it solves for the Position of the Homo. Transformation Matrix and after that it checks orientation.

How I can solve for orientation as priority?

As I see in the code:

[code]

This section is specified for target which is position.

[2019-08-20 21:01] AhmetMericOzcan commented on #61
Hello for all faces same problem as me, I found the solution by changing optimization function for orientatition priority. I changed he code as follows:

[code]

With these lines you can use it for orientation too. In this code I cut the rotation matrix from HM and I optimized the code through the difference of target rotation and current rotation. I believe this is how I did it at least :)

It wo

[2019-08-22 16:55] MrDadaGuy commented on #26
Also need this functionality - did anyone find a solution for this?

[2019-08-22 19:24] MrDadaGuy commented on #61
hi, I'm trying to do the same, I can't get ikpy to pay any attention to my orientation commands.  I've made your changes above and still has zero effect.   Here is my chain, any ideas?

`

Kinematic chain name=chain
    links=[
        Link name=Base link bounds=(None, None),
        Link name=Joint_1 bounds=(-2.0944, 2.0944),
        Link name=Joint_2 bounds=(-2.2, 2.2),
        Link name=Joint_3

[2019-08-23 10:51] AhmetMericOzcan commented on #61
Are you sure? I git clone the library to a local directory, made the change on the python file and I used pip command for that local directory.

Two place should be changed:

target = target_frame[:-1, 0:3]

squared_distance = np.linalg.norm(chain.forward_kinematics(y)[:-1, 0:3] - target)

And I am using a URDF file for the robot.

[2019-08-23 11:21] AhmetMericOzcan commented on #61
[code]

Here is my code this is how I did it 3 active joints finds it for orientation. This is the output
[code]

[2019-08-23 16:49] MrDadaGuy commented on #61
Hi, thanks for the quick response!

To clarify, what I'm trying to do is to provide a position & orientation for my end effector, and have the IK provide the joint states to get there.

When I use this library as-is, it does a fantastic job of getting my EE to the correct position, with complete disregard to any orientation information I provided.

With your changes, it seems to do a great job of

[2019-08-23 16:52] MrDadaGuy commented on #61
The URDF for RBX1 robot is here:  [https://drive.google.com/file/d/1sA0nC40Fz5wT5WE6xazwUNtX-nEtlkOs/view?usp=sharing](url)

[2019-08-23 16:56] MrDadaGuy commented on #61
[code]

[2019-08-23 21:05] AhmetMericOzcan commented on #61
Ok mate, Did you understand the logic behind my code? how Itry to decrease the error for orientation? You should do the same for position amd orientation!! Mate check how I cut the HT matrix. I cut it from only rotational Matrix in other words 3×3 Matrix. other 3×1 matrix is position. If you cut the target as 3×4 matrix with out the last line, you can make the error function for your orientation a

[2019-08-27 15:01] MarcGondran opened #62 "Definition of the robot"
Hi,

Thank you for your work. I have few questions about the use of this library.

- I have concern about the definition of the robot with DH-Table. It seems that the function to crate links with DH-Parameters is not implemented yet. Do you know a way to transform easily DH-Parameters into URDF parameters (Translation_vector, orientation and rotation) ?

- My robot is a KUKA KR-100 HA with a 7th p

[2019-09-14 15:06] ChunJyeBehBeh commented on #35
Hello, may I know have you solved the problem?

[2019-10-02 12:09] blooop opened #64 "Numba/CUDA compatible?"
Hi,

I'm interested in running say 1000 independent IK queries on a gpu. In the readme you mention that this is a pure python library which means it theory it should work with numba relatively easily.  Are there any caveats or thing I should be aware of if I'm going to try this?

Something similar to this:
https://ipython-books.github.io/58-writing-massively-parallel-code-for-nvidia-graphics-cards

[2019-10-11 08:27] Phylliade commented on #64
Hey @blooop,

That's a good idea indeed!
There is no caveat a priori for the inference part (forward kinematics)
For the inverse kinematics, the optimization is done in scipy, out of the python loop, so it won't be done on the GPU.

FYI, there is a plan to use Jax (https://github.com/google/jax) to do the inverse kinematics on GPU

[2019-10-11 10:04] blooop commented on #64
Thanks, jax also looks very interesting.

[2019-10-11 10:31] Phylliade commented on #62
Hey,

* Conversion from DH to URDF: Never tried it, but there are solutions online, like https://github.com/AdoHaha/DH2URDF. Tell me if this works!
* I've just added prismatic joints support in the TODO list,
* For the redundant robot, that's a good question: do you have any examples of redondant robot for which we could apply the inverse kinematics?

[2019-10-11 10:47] Phylliade commented on #35
Hey,

This seems to be a bug in the DH links.

Actually the DH implementation is preliminary and lacks uses-cases: is the code you presented coming from a real robot? In this case, could you provide it so I can use it as a base for the test cases to develop further the DH parameters?

[2019-10-11 10:49] Phylliade commented on #35
Additionally, the second issue you got (with matplotlib) is an ubuntu issue.

Take a look at this, this may help you:
https://stackoverflow.com/questions/45103248/importerror-no-module-named-matplotlib-externals

[2019-10-12 13:23] Phylliade commented on #61
Hey,

Thanks for your contribution @AhmetMericOzcan, this is a nice approach indeed.

To answer the original issue, support for orientation is coming in the next release of ikpy (one of the solutions involves something very similar to your solution :) )

[2019-10-16 11:57] AhmetMericOzcan commented on #61
when will the next release come, do you plan to work with ROS framework?

[2019-10-17 07:46] Phylliade commented on #61
Do you have any particular ROS integrations in mind?

Le mer. 16 oct. 2019 à 13:57, AhmetMericOzcan <notifications@github.com> a
écrit :

[2019-11-07 20:01] beduffy opened #66 "Ways to deal with self-collisions?"
Hello, great library, thanks for your work!

Is there any way to ensure that the joint angles returned from inverse kinematics won't result in a self-collision? I have my own functions for detecting these but how could I influence or change the optimisation to avoid them?

Should I change link bounds as the arm moves and is this possible/advisable?

[2019-11-23 01:41] chitalian opened #67 "Question - Generating Links from World Points"
Hi, I am pretty new to this all. But I was wondering if someone could help me. I have a set of world coords for different joints and I have been trying to build chains for these points however I am having trouble figuring it out.

Here is an example:
[code]
Where we would have three joints all connect like this

joint_0 = (-23.0585, -4.3753, 0.208)
joint_1 = (-23.0799, -4.3955, 0.6677)
joint_2 = (

[2019-12-04 00:35] Phylliade commented on #67
Hello @chitalian,

If you want to create a chain by yourself, you need to create the chain from a list of `Link`.

This Link must return a transformation matrix (see : https://github.com/Phylliade/ikpy/blob/master/src/ikpy/link.py#L13).

Your transformation matrix is a homogeneous coordinate matrix representing your joint transformation.
In the case of a leg, you can use the `axis_tranformation_ma

[2019-12-04 00:39] Phylliade commented on #66
Hey @beduffy,

Currently there is no support for avoiding self-collisions.

However it would be interesting to add this feature!

In order to see where we can start, could you past/explain a bit your self-collision avoidance functions?

[2019-12-08 15:08] AhmetMericOzcan opened #68 "Can you find certain joint locations?"
I know that this library can find end effector position, with F.K. However I would like to know whether you can find certain joint position and orientation in space?

Ex. I have a 6 DOF robot, I would like to find position of 3rd joint in space.

[2019-12-08 15:11] AhmetMericOzcan commented on #61
Mate, Moveit package in ros cannot find inverse kinematics when you lock certain joints. But your library have a boolean mask that can make certain joints static. That is a good aspect of your library

[2019-12-12 17:52] Phylliade commented on #68
Yep, and it's easy!
Just put the `full_kinematics` attribute to `True` in `Chain.forward_kinematics`
(cf https://github.com/Phylliade/ikpy/blob/master/src/ikpy/chain.py#L48)

[2019-12-17 14:38] beduffy commented on #66
![image](https://user-images.githubusercontent.com/9202993/71004847-766c7480-20da-11ea-8fd3-3a25590264e4.png)

Hopefully this image makes it clearer, the blue line is going through the other blue line. If I told the real robot arm to do this there would be damage.

Generally it's quite easy to detect collisions between line segments e.g. don't include the exact endpoints since two lines share join

[2019-12-23 17:29] Phylliade commented on #66
Got it!

Yep, that would be indeed possible to add a collision detection function, as described.

Additionally, there is also the topic of collision avoidance, aka, proposing an IK solution that avoids collisions (e.g. not only detecting collisions, but also avoid them). Would you have any ideas on how to implement this?

[2020-01-05 02:12] nevercast opened #70 "ikpy is not pure python because it depends on numpy and scipy"
Since numpy and scipy are not pure python (have c / native dependencies), ikpy cannot be considered pure python. (Unless a slower implementation existed that did not depend on numpy or scipy.

[2020-01-05 11:40] Phylliade commented on #70
Well you're right, there are C dependencies, but IKPy codebase itself is in pure python.

(executing C code is not a problem per se, the Cpython runtime is in C ;) )

[2020-01-07 03:20] nevercast commented on #70
I was looking for a pure Python IK library that I could run on MicroPython (embedded systems), your library came up but unfortunately MicroPython does not provide scipy, and numpy is very limited at this time.

I'm not trying to be pedantic, I really did want to use it in a purely Python environment ❤️

[2020-01-07 10:53] JasOlean opened #72 "Can I use this lib for computing 3D coordinates from 2D image coordinates?"
Does this lib work for Hand Joints (21 joints)?
I want to use this lib to compute 3D coordinates from 2D image coordinates using inverse kinematics.
So, can I use this lib for Hand Joints?

[2020-01-10 13:44] Phylliade commented on #70
Ah ok got it!

I suggest adding a FAQ about dependencies and the supported platforms.

Would it solve the issue?

[2020-01-10 13:50] Phylliade commented on #72
Hello @JasOlean,

In which format do you have your hand?

Are these 2d image coordinate a projection ?

[2020-01-11 18:40] Phylliade opened #73 "Support for orientation using one Axis"
A popular feature is related to orientation.

A first step would be to support orientation regarding one axis, e.g. only reaching an orientation for the x axis

[2020-01-15 11:42] Alexa875 opened #74 "ParseError: not well-formed (invalid token): line 45, column 93"
**Hello
Sorry but I am not a coder.
I will try to follow your step to step with poppy Urdf in a file and i have this error**

my_chain = ikpy.chain.Chain.from_urdf_file ("C:\POPPY\poppy_ergo.URDF")
Traceback (most recent call last):

  File "C:\Users\alexa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)

[2020-01-24 20:33] Phylliade commented on #74
Hello @Alexa875 ,

Could you provide the URDF file you're using?

[2020-01-24 22:24] Alexa875 commented on #74
Hello,
The poppy ergo .urdf

[2020-01-25 08:21] Phylliade commented on #74
This is note the URDF file actually :)

You may find the right file below: https://raw.githubusercontent.com/Phylliade/ikpy/master/resources/poppy_ergo.URDF (just copy paste the content of this file)

[2020-01-25 08:21] #74 closed

[2020-01-25 13:15] Alexa875 commented on #74
Work perfectly

Cela a très bien fonctionné avec le fichier en ressources.
Désolé je n'avais pas saisi qu'il fallait s'appuyer sur ce dossier.
Merci pour votre aide précieuse et votre travail livré à la communauté.
Cordialement

[2020-02-11 00:20] beduffy commented on #66
I know you use scipy.optimise underneath so this is akin to a Jacobian/Least Squares method but in the past I've been confused over exactly how ikpy is "symbolic" or maybe it uses sympy for something else. For jacobian methods it's much harder avoid collisions because we have to constrain the optimisation away from these regions and nothing is guaranteed.

Even just avoiding joint limits is a pain

[2020-02-11 00:20] #66 closed

[2020-02-15 16:22] Phylliade commented on #66
Thanks for the resources, will dig into that!

[2020-03-11 09:34] leemengwei opened #76 "Transform matrix, whom to whom?"
Hi, thanks for your work. Great one, I like it. I'm doing some deeplearning research, thus I'm not quite familiar with robotics. Sorry for my innocent,
So here's my problem about what is 'real_frame' in code, does that mean to transform from end-effector to old one? (I think it is, but not sure)
Take two frame for example, world_frame and new_frame,  when joint is given:
[code]

then returned two

[2020-03-16 18:06] Phylliade commented on #76
Hello @leemengwei,

could you paste the code that procuded these outputs?

[2020-03-17 04:15] leemengwei commented on #76
Ops the codes are gone, I've modified them, yet my uncertain remains the same. The first matrix I gave out
[[[ 1. 0. 0. 0. ]
[ 0. 1. 0. 0. ]
[ 0. 0. 1. 0. ]
[ 0. 0. 0. 1. ]]
is something like base frame, world frame or say, I guess.
The second matrix
[[ 1. 0. 0. 0. ]
[ 0. -0. -1. -0.43]
[ 0. 1. -0. 0. ]
[ 0. 0. 0. 1. ]]
is frame I got after _forward kinematic_ , something I got by:
`new_frame = np

[2020-03-22 15:40] Phylliade commented on #76
This matrix is a position encoded as homogeneous coordinates;

[code]

With this, you can see that your position is `matrix[3, :3]`, so here the position of your end-effector is `[0, 0.43, 0]`

[2020-03-22 15:40] #76 closed

[2020-04-11 08:28] cjlux opened #77 "Exception "RuntimeError: generator raised StopIteration" with Python3.7"
Python 3.7 has change the behavior of generators : when they reach the end now they emit a RuntimeError exception...
In the file URDF_utils.py there are two occurences of next(...) that can raise RuntimeError exception, lines 91 and 103.

Line 103 "chain = list(next(it) for it in itertools.cycle(iters))" can be replaced by:
[code]

[2020-04-25 08:34] Phylliade commented on #77
Good catch @cjlux !

Actually this function seems deprecated and should be removed (seems it's not used  anywhere).

In which context did you use it?

[2020-04-25 10:04] cjlux commented on #77
We (Yoan Mollard, Thibault Desprez and myself) are presently updating the _raspoppyfication_ process (installing Poppy configuration on a RPi4 under raspbian buster) :  the IKpy module is used at start-up by the robot "Ergo Junior"  and I found also this bug when using IKpy for the robot "Poppy Torso" to make the robot catch objects recognized by tits camera.

[2020-04-25 10:06] cjlux commented on #77
sorry closing was  accidental...

[2020-04-25 18:11] Phylliade commented on #77
In order to use URDF, the function `get_urdf_parameters` should be used instead.

[2020-04-25 18:13] Phylliade commented on #77
On the other hand, if you explicitly need it, we can move it to a "deprecated" module (and fix the original issue), instead of just removing it.

[2020-05-02 19:14] Phylliade commented on #73
Closed by https://github.com/Phylliade/ikpy/pull/79

[2020-05-02 19:14] #73 closed

[2020-05-02 19:15] Phylliade commented on #61
Hey @AhmetMericOzcan, orientation has landed in master!

[2020-05-02 19:15] #61 closed

[2020-05-02 19:15] Phylliade commented on #26
Orientation has landed in master!

This was added in https://github.com/Phylliade/ikpy/pull/79

[2020-05-02 19:15] #26 closed

[2020-05-03 10:59] #68 closed

[2020-05-03 11:06] Phylliade commented on #37
Hey everyone,

I'm currently working on streamlining the workflow to create new robots.
In the last version, new ready-to-use chains were added, in the form of JSON files that add useful metadata to a URDF file. It just works as below:

[code]

[2020-05-03 11:07] Phylliade commented on #37
@marcosvilela, would you have any description of the chain you are currently (actually were ;) ) using?

[2020-05-03 11:09] Phylliade commented on #30
Hello @show0k, pinning this as it's still something to try

[2020-05-03 17:03] Phylliade commented on #41
You can now use the orientation feature to keep your glass vertical!

https://github.com/Phylliade/ikpy/blob/master/tutorials/Orientation.ipynb

[2020-05-03 17:03] #41 closed

[2020-05-03 17:05] Phylliade commented on #48
You can apply orientation with the latest release!

https://github.com/Phylliade/ikpy/blob/master/tutorials/Orientation.ipynb

[2020-05-03 17:05] #48 closed

[2020-05-03 17:46] Phylliade commented on #46
Hello @svabhishek29, sorry for the late reply.

Each link corresponds to one rotation axis.
In your first Link, you don't specify two rotation axes, but one rotation axis with the coordinates [0, 1, 1]

If you want to have two rotations, you should specify two links

[2020-05-03 17:47] Phylliade commented on #46
Closing this for now, don't hesitate to reopen the issue if needed

[2020-05-03 17:47] #46 closed

[2020-05-03 17:53] Phylliade commented on #43
Hello @HarithKK, could you provide the output of your script?

[2020-05-03 18:03] Phylliade commented on #38
Hello @mikekaram, sorry for the late reply.

Support for a custom Jacobian is currently not possible with the current implementation.
I'm thinking about supporting alternative optimization schemes

[2020-05-07 14:55] cjlux commented on #77
After investigation I found this : the function **get_chain_from_joints** defined in the file _URDF_utils.py_ is called at line 25 of the file _ik.py_ from the module _pypot.creature_ :
`25    chain_elements = get_chain_from_joints(poppy.urdf_file, [m.name for m in motors])`
and the liste `chain_elements` contains for example :
`['base', 'abs_z', 'spine', 'bust_y', 'bust_motors', 'bust_x', 'chest'

[2020-05-10 05:13] #24 closed

[2020-05-10 05:13] #21 closed

[2020-05-10 05:13] #56 closed

[2020-05-10 05:13] #58 closed

[2020-05-10 05:13] #44 closed

[2020-05-10 05:13] #57 closed

[2020-05-10 05:13] #45 closed

[2020-05-10 05:13] #67 closed

[2020-05-10 05:13] #70 closed

[2020-05-10 05:13] #72 closed

[2020-05-10 18:13] #43 closed

[2020-05-13 20:23] HaffmannGG opened #85 "Value Error inverse_kinematics"
Following the getting started i got an issue with Setting the position of your chain (aka Inverse Kinematics, aka IK).

File "C:\Users\Jonas\untitled1.py", line 46, in <module>
    frame_target[:3,:3] = target_position

ValueError: cannot copy sequence with size 4 to array axis with dimension 3

After changing the line to "frame_target = target_position" the error is gone and the presented results

[2020-05-13 20:29] Phylliade commented on #85
Hello @HaffmannGG, can you provide the full code snippet that appears?

(i.e. what is `target_position`?)

[2020-05-13 20:48] HaffmannGG commented on #85
`from ikpy.chain import Chain
from ikpy.link import OriginLink, URDFLink

my_chain = Chain.from_urdf_file("C:\\*\\*\\*\\ikpy-master\\ikpy-master\\resources\\poppy_ergo.URDF")

my_chain.inverse_kinematics([[1, 0, 0, 2],
                    [0, 1, 0, 2],
                    [0, 0, 1, 2],
                    [0, 0, 0, 1]])`

I use Anaconda and Spyder as my env.

runfile('C:/*/*/untitled1.py', wdir='C

[2020-05-13 20:50] Phylliade commented on #85
It seems your `target_position` is not a three dimensional vector, as it should be

[2020-05-13 20:57] HaffmannGG commented on #85
The inserted matrix is 4 by 4 and if i call "inverse_kinematics" it takes the only argument as target_position.  Am i missing something?

[2020-05-13 21:21] HaffmannGG commented on #85
My bad. I did follow the Getting Started from your wiki page (https://github.com/Phylliade/ikpy/wiki). In these steps you call the inverse kinematics function with a 4x4 matrix. I checked your Quickstart file and in this case you use a 1x3 vector. Everythin is working fine.

[2020-05-13 21:21] #85 closed

[2020-05-24 17:30] Phylliade commented on #77
Actually this function seems useful in the way it's used, since it permits to get a list of links+joints from a list of joints.

And this use-case can be appear in the pypot creatures context: Since IKp's URDF parser requires a list of links+joints, and pypot works with a list of joints, this function makes the link between the two

[2020-05-27 11:59] #77 closed

[2020-06-08 12:16] DreamLFairy opened #90 "why "forward_kinematics" is true,but "inverse_kinematics_frame" is error"
I input a joint1 to  "forward_kinematics" function ,and return a position, then I input the position to "inverse_kinematics_frame", then return another joint2,but joint1 is not euqal to joint2.
I use moveit in ros and verified, the result of  ikpy "forward_kinematics" is true,but the result of  ikpy "inverse_kinematics_frame" is error.

[2020-06-14 16:06] alxy commented on #85
I have a actually the same same issue and a script at hand which passes a 4x4 matrix to the inverse_kinematics function as described here: https://github.com/Phylliade/ikpy/wiki#setting-the-position-of-your-chain-aka-inverse-kinematics-aka-ik

Has this been possible in a former version of the library and now it only accepts a three valued vector? In this case, you should update the wiki ;) @Phylli

[2020-06-14 16:35] HaffmannGG commented on #85
@alxy you are right. This link is outdated.

[2020-06-16 14:40] Dongbox commented on #90
I have the same question here. I use the function of `forward_kinematics` to solve joints and get a transformation matrix.
Then I use the function `inverse_kinematics_frame` to get a plan but it is not true. The joints of the plan can't reach the original position.

And Why the `ik` function just output one plan?

[2020-06-20 19:35] Phylliade commented on #90
Hey @DreamLFairy @Dongbox, the `inverse_kinematics_frame` finds a solution to your inverse kinematics problem.
However there may be multiple solutions to the same inverse kinematics problem (i.e. multiple ways to achieve the same goal).

Have you cheked that the forward kinematics of your returned inverse kinematics (i.e. `forward_kinematics(inverse_kinematics(target_position))) == target_position

[2020-06-20 21:09] Phylliade commented on #85
Hello @HaffmannGG @alxy, thanks for pointing this out, it's now fixed!

[2020-06-21 11:57] Dongbox commented on #90
@Phylliade Thanks for your answer, the "one plan" here means the return(joints) of function `inverse_kinematics_frame`.

[2020-06-21 11:58] Phylliade commented on #90
So it just returns one solution to this ik problem

[2020-06-21 12:01] Dongbox commented on #90
yea, I just get one through the optimize and not true.

[2020-06-21 12:06] Phylliade commented on #90
Is the forward kinematics associated with it different from the original target?

[2020-06-21 12:15] Dongbox commented on #90
Right, it shows a little different.
I input the current joints to `forward_kinematics` and get the transformation matrix.
And input the TM to `inverse_kinematics_frame` and get the joints.
But I get different poses lastly.
(before)
![Screenshot from 2020-06-21 20-11-12](https://user-images.githubusercontent.com/36894425/85224241-64f28500-b3fb-11ea-9410-bdb1e723062e.png)
(finally)
![Screenshot from

[2020-06-21 12:21] Phylliade commented on #90
I see.

Did you ask IKpy to also do ik on orientation?

Can you paste the code used to generate this?

[2020-06-21 12:26] Dongbox commented on #90
[code]

[2020-06-21 12:29] Dongbox commented on #90
And here my JSON file.
I only use seven joints, and that's why [1:8] exists.
[code]

[2020-06-21 12:31] Phylliade commented on #90
Thanks!
Can you also provide the URDF?

[2020-06-21 12:34] Dongbox commented on #90
Thanks for you.
https://raw.githubusercontent.com/UBTECH-Walker/WalkerSimulationFor2020WAIC/master/walker_WAIC_18.04_v1.2_20200616/ubt_sim_ws/src/example/config/walker.urdf

[2020-07-13 11:50] gemlongman opened #91 "BVH parser"
Is there a simple way to create a chain with BVH motion files？In fact it will be perfect to add a BVH parser.

[2020-07-14 16:21] Phylliade commented on #91
Hello @gemlongman,

I'm not familiar with BVH motion capture files: do you know how exactly they encode their data? (And would you have an example?)

[2020-07-15 03:12] gemlongman commented on #91
Here is a BVH file in the zip which could be found more in https://sites.google.com/a/cgspeed.com/cgspeed/motion-capture/daz-friendly-release, they can be imported by Motion Builder to see motion. Meanwhile, there is some BVH python parser such as https://pypi.org/project/bvh/, but it will take lots of work to adapt.
[Running  Jump To Standing Idle.zip](https://github.com/Phylliade/ikpy/files/4922

[2020-08-02 12:31] Phylliade commented on #91
After some investigations I'm joining you in the fact that's a super good idea!

The BVH file's HIERARCHY section is very close to the definition of a URDF, so this shouldn't be so difficult to rewrite a parser, even from scratch.
I've found a good spec here: https://research.cs.wisc.edu/graphics/Courses/cs-838-1999/Jeff/BVH.html

Regarding the features, am I right to suppose we will need actually

[2020-08-04 09:19] gemlongman commented on #91
yeah~you are right

[2020-08-21 10:34] Adoplot opened #92 "Real-time applications"
I am interested how fast is your algorithm. Can I use it to solve inverse kinematics of 6DoF Kuka robot in real-time (<16ms for every frame) ?
I managed to test it using urdf file.
I receive end-effector position data every 4ms from udp socket, solve IK and send joints' parameters back. I achieved IK solver speed of 200-300ms.
Am I doing something wrong, or it is normal for such type of algorithm?

[2020-08-24 10:05] Phylliade commented on #92
Hello @Adoplot,

This is a though question: Every IK computations involve maths optimization that are pretty heavy, thus inducing minimal computation time per `Chain.inverse_kinematics` call.

There are numerous ways to solve this issue, but this depends on your context:
* Decrease the computation time to compute an IK, using the [`max_iter`](https://github.com/Phylliade/ikpy/blob/efaa580293cd6654

[2020-08-24 12:35] Phylliade commented on #90
Hello @Dongbox,

In order to get the same orientation, you need to use the "orientation_mode" parameter of the `inverse_kinematics_frame` function (which is exactly the same as the one documented in the `inverse_kinematics` function)

P.S.: sorry for the late reply!

[2020-08-25 02:49] Dongbox commented on #90
@Phylliade Thanks, I'm not working on a robot right now. I will try this method again next month.

[2020-08-25 09:29] Adoplot commented on #92
Hello @Phylliade,

Thanks for your fast reply.

 As you said, I need a robot to do small jumps between close IK targets. I achieved 80-110 ms computation speed on i5-9300H processor. I tried decreasing `max_iter` parameter, but the result was not much different (70-100ms).

I tried to use `initial_position` parameter but I can't understand how to use it properly.
As I understand, `initial_position

[2020-08-27 09:44] alxy commented on #92
You can pass `initial_position` to the `inverse_kinematics` function as well, it will be forwarded to the lower level functions.

You need to pass it the joint positions of a previous run, so just somehow cache it between two calls:
[code]

[2020-08-31 07:06] Adoplot commented on #92
@alxy,  Thank you!
I managed to decrease average computation time to 40-50ms.
However, it is not enough.

Thanks for help!

[2020-09-07 11:30] #92 closed

[2020-09-29 15:09] kentykentykenty opened #95 "'NoneType' object has no attribute 'attrib'"
I'm getting the following error when trying to import a chain defined by a URDF.

[code]
I'm not too familiar with the URDF format, or ikpy's parser to figure out what this error means. Any suggestions on how to proceed would be much appreciated.
This is my robot cobotta.urdf

[code]

[2020-10-12 14:47] #95 closed

[2020-10-31 04:13] #90 closed

[2020-11-01 13:15] AhmetMericOzcan opened #96 "When will the Prismatic Joint added?"
I really like to use a prismatic joint solution in my project. Could you please tell me a date for primsatic joint support? Or could you please tell me how it can be done?

If you can explain it I would like to do it by myself. Looking for your reply

[2020-11-08 12:04] Phylliade commented on #96
Hello @AhmetMericOzcan,

I have a prototype but lacks a meaningful URDF to make a real-world try;

Can you provide a URDF with a prismatic joint?

[2020-11-08 12:14] Phylliade commented on #95
Hello @kentykentykenty,

Were you able to solve your issue?

[2020-11-09 18:05] AhmetMericOzcan commented on #96
Hello in this link there is a prismatic joint prototype with visualization. Hope this helps. If this doesnt help please contact me again. I might look for futher solutions.

https://mymodelrobot.appspot.com/5629499534213120

[2020-11-09 18:09] AhmetMericOzcan commented on #96
<?xml version="1.0" ?>
<robot name="urdf_robot">
  <link name="baseLink">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0.0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
      <box size="0.1 .1 .1"/>
      </geometry>
    </visual>
    <collision>
      <origin

[2020-11-17 20:28] oxbown commented on #96
Really interested as well. Is there any update on Prismatic joints?

[2020-12-14 13:36] MADONOKOUKI opened #101 "Tutorial Error"
Hi, my name is koki.
I got an error like that. I use anaconda3-5.3.1 and Python 3.5.6.
I want to know why was it error happened?

`

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'ikpy' has no attribute 'chain'
`

[2020-12-14 16:53] Benoit-LdL commented on #101
Same issue here, I can't seem to get any submodule of ikpy to work. I'm running version 3.0.1 with python 2.7.12...
Tried some of the test scripts without any luck
`
from ikpy.link import OriginLink, URDFLink
--> ImportError: No module named link

from ikpy.chain import Chain
--> ImportError: No module named chain

import ikpy.utils.plot as plot_utils
--> ImportError: No module named utils.plot
`

[2020-12-18 07:51] MADONOKOUKI opened #102 "Calculation of inverse kinematis"
Hi, I try to conduct to draw a straight line by calculating inverse kinematics with niryo one robot.

input position (x : 0.073, y : 0.001, z : 0.168)
input orientation (roll : 0.029, yaw: 1.407, pitch: 0.204)
Answer of joints 1 ~ 6 axis : [ -0.007, 0.129, -1.360, 0.189, -0.183, -0.360]

I use blow's model.urdf code.
Then, calculate inverse kinematics using these code lines.

Do you know any solut

[2021-01-17 10:51] Phylliade commented on #101
Hello @MADONOKOUKI @Benoit-LdL,

How are you installing IKPy?
(On my side, i'm not able to reproduce this issue)

Besides, @MADONOKOUKI, what version of IKPy are you using?

[2021-01-18 02:50] Toxic-Cookie opened #103 "Option to output as Quaternions/Euler angles/Vectors"
The current output is homogeneous coordinates. For generalized use of this software, it would make sense to have an option for the outputs to be in the context of 3D engines like Blender and Unity. Cartesian coordinates.

[2021-01-28 08:07] KyleORourke2 commented on #101
I'm having the same issue. I'm using the latest version of ikpy v3.1 with Python 3.8.3. I've tried both 'pip install ikpy' and from source with the same error:

[2021-02-03 09:33] Zju-George commented on #101
@Phylliade @Benoit-LdL @MADONOKOUKI @KyleORourke2 Check out this: https://stackoverflow.com/questions/8899198/module-has-no-attribute
In pyik the submodule is not directory but pyfile so it is not imported automatically.
A quick solution, add `import` in __init__.py like this
![image](https://user-images.githubusercontent.com/33959089/106726280-29809000-6645-11eb-8de8-7749fb6531db.png)
Then it wil

[2021-02-05 00:51] Klausstaler opened #104 "URDFLink does not support prismatic joints"
Even though the Link class states that prismatic joints are supported, this is not the case for the URDFLink.  In the `_apply_geometric_transformations` method under `ikpy/link.py`, we use the sympy parameter Theta only to specify the rotation, but never to specify a translation. Furthermore, as far as I see, it is not even possible to specify whether the joint is a prismatic or revolute joint.

T

[2021-02-08 02:01] Klausstaler commented on #96
@oxbown @AhmetMericOzcan I had this issue myself and solved it for the URDFLink and the URDF to joints parser. If you want to take a look or try it out, checkout my fork https://github.com/Klausstaler/ikpy

[2021-02-08 02:02] Klausstaler commented on #104
I had this issue myself and solved it for the URDFLink and the URDF to joints parser. If you want to take a look or try it out, check out my fork https://github.com/Klausstaler/ikpy

[2021-02-16 13:57] Piit3r commented on #101
Same here in local.
I also tested on google colab :
I imported de Quickstart file. Just run `pip install ikpy` on top and execute

[2021-03-03 13:36] jurka14 commented on #56
Hi, I have been having the same problem with my URDF file. Here it is:

`
<?xml version="1.0" encoding="utf-8"?>

<robot
  name="Rameno_sestava.SLDASM">
  <link
    name="base_Link">
    <inertial>
      <origin
        xyz="0.0375 0.00734688456192442 1.24826504699513E-09"
        rpy="0 0 0" />
      <mass
        value="0.010277230998552" />
      <inertia
        ixx="1.092531894428E-05"

[2021-03-04 16:47] jurka14 opened #106 "Create Chain method won't make chain from URDF file"
Hi @Phylliade , I have been having some problems while trying to use the  .from_urdf_file() method with my URDF file. When using the tutorial file poppy_ergo.URDF, it works fine, but with my file it does not actually create a chain, but a simple base_link fill in.

Here is the python code I'm using:

[code]

And here is the output:
`The angles of each joints are :  [0.]`

Also here is my URDF file

[2021-03-11 13:54] hugosciascia opened #107 "forward_kinematics method , joints values"
Hello everyone, thank you for those powerfull tool !

There is something strange I do not understand with your forward_kinematics method for an armChain (from URDF file).

I have a 6 DOF robot, why I have to put 7 values for the joints parameters ? There is only 6 joints rights ? So I have to set one to 0 ?

I do not understand because I try to verify that with Webots and the results only maths fo

[2021-03-13 11:07] ger01d opened #108 "Changing the optimization algorithm"
Is it possible to change the optimization algorithm with a function call, or is it only possible to statically change line 134 in _inverse_kinematics.py_?
With _L-BFGS-B_ and joint boundaries I noticed a jumpy behavior in the end effector positions of the kinematic model, so I changed it to _SLSQP_.

The models, where this problems come up, can be found here:
[quadruped model](https://github.com/g

[2021-03-19 18:50] alters-mit commented on #96
@Klausstaler I looked over your code but I'm not sure how to implement a prismatic joint. Could you provide a little example code of how to set up the `Link` constructor parameters? I see a `is_revolute` parameter but I don't understand how to define the prismatic limits.

[2021-03-19 19:19] Klausstaler commented on #96
@alters-mit The prismatic limits are defined in the same way you'd define limits for revolute joints. Instead of radians, they are now in meters though. As in the example below, you include a `<limit>` tag together with the lower and upper bound for each joint you have to define limits for.  The exact parsing can be found [here](https://github.com/Klausstaler/ikpy/blob/master/src/ikpy/urdf/URDF.py

[2021-03-19 19:27] alters-mit commented on #96
Thanks. Is there a way to instantiate a prismatic joint from a class constructor? For my particular project, I'm defining a list of `Link` objects in a chain but I'm not actually reading from a urdf file.

[2021-03-23 15:31] alters-mit commented on #96
@Klausstaler I forked off of your repo but found problems with applying the axis of a prismatic joint as well as distinguishing prismatic joints from fixed joints. This seems to work much better: https://github.com/alters-mit/ikpy/blob/53e6069e800927807befc6a10a411de304b4b634/src/ikpy/link.py#L179-L183

[2021-04-26 07:04] #101 closed

[2021-07-07 15:59] Phylliade commented on #101
Hello @MADONOKOUKI, this has been fixed in master, you call pull the latest ipynb file and this will work.
No need to update IKPy.

[2021-07-07 21:22] Phylliade commented on #102
Hello @MADONOKOUKI, the issue is unfortunately on the IKPy side, but maybe on overall difficulty of the task regarding the configuration of your robot.

The overall solution is to try IK on simpler target positions, or providing a starting position to your chain, that will help your IK computation.

I'm marking this issue as "robot-related": don't hesitate to give me some updates of you solve your

[2021-07-08 08:14] Phylliade commented on #103
Hello @Toxic-Cookie ,

This is indeed a good feature, I'm pinning it, and will see when this could be done.

In the meantime, you can use the Scipy primitives, as defined here:
https://stackoverflow.com/questions/53033620/how-to-convert-euler-angles-to-quaternions-and-get-the-same-euler-angles-back-fr

(Second answer)

[2021-07-08 08:39] Phylliade commented on #107
Actually your chain has an additional root joint, which is the basis of your robot and anchors your first link. Without it, you won't consider the first link when doing tbe FK.
It cannot move so the rotation angle is set to 0.

Regarding your issue with your robot, this is likely  not related to this first link, but to your URDF file.
Since the FK is deterministic, the issue cannot be on the IKPy

[2021-07-08 08:47] Phylliade commented on #106
Hello @jurka14,

This is very strange, since this URDF is tested frequently and works.

Can you compare your code to this one:

https://www.github.com/Phylliade/ikpy/tree/master/tests%2Ftest_poppy_robots.py
?

[2021-07-08 08:53] Phylliade commented on #108
Hello @ger01d,

Did changing the optimization method to  SLSQP solve your issue?

In the meantime, I will add a method to select the optimization algorithm in the constructor

[2021-07-08 10:47] Toxic-Cookie commented on #103
Took a little while but I'm glad you're looking into it!

[2021-07-08 10:55] Phylliade commented on #103
Are the Scipy primitives to convert to quaternions ok for you?

[2021-07-08 16:33] ger01d commented on #108
Hi @Phylliade,

yes, changing to SLSQP solved the problem. Thanks for bringing this feature into the code.

[2021-07-10 15:06] #96 closed

[2021-07-10 15:06] #104 closed

[2021-07-10 15:06] #108 closed

[2021-07-10 15:14] Phylliade commented on #96
Hello @AhmetMericOzcan, support for prismatic joints has landed on master, with the associated release `v3.2`.

Enjoy!
And tell me if this answer your need!

[2021-07-10 15:14] Phylliade commented on #104
Hello @Klausstaler, support for prismatic joints has landed on master, with the associated release v3.2.

Enjoy!
And tell me if this answer your need!

[2021-07-10 15:16] Phylliade commented on #108
Hello @ger01d,
Support for customizable optimization algorithms has landed on master and on `v3.2`. Just use the `optimization_method` of the `Chain.inverse_kinematics`.

[2021-07-10 17:28] Phylliade commented on #106
Hello @jurka14,

The error is coming from the fact that you need to specify your root element of your robot using the `base_elements` argument

If you do:

[code]

This works!

In parallel, IKPy was silently failing when you provided a wrong `base_elements` (or were using the default one when it didn't fit, as in your case). This has been fixed in `v3.2` and IKPy will raise an explicit error

[2021-07-10 17:28] #106 closed

[2021-07-14 14:54] Toxic-Cookie commented on #103
Sorry for the late reply! Github didn't bother notifying me. Yeah quaternions would be fantastic!

[2021-08-18 10:27] JasonWong08 opened #114 "TypeError: __init__() got an unexpected keyword argument 'translation_vector'"
The code as below:
links=[
    URDFLink(
      name="center",
      translation_vector=[leanForward, 0, distanceFloor],
      orientation=[0, 0, 0],
      rotation=[0, 0, 0],
    )

[2021-08-18 10:29] JasonWong08 commented on #114
Python 3.6.8

[2021-08-19 19:45] Phylliade commented on #114
Hello @JasonWong08, in the last release of IKPy, the translation parameter of URDF links has been renamed to `origin_translation`

[2021-09-14 06:50] #107 closed

[2021-10-30 21:33] AhmetMericOzcan opened #115 "inverse_kinematic_optimization is not working?"
[gaze_prismatic.txt](https://github.com/Phylliade/ikpy/files/7447637/gaze_prismatic.txt)

Does inverse_kinematic_optimization function works properly? I tried with the attached urdf file (change extension to txt to upload). Tried to set starting_nodes_angles to a certain position. However the "starting_nodes_angles" does not affect the solution at all. You can set them to zero, or anything, but th

[2021-10-30 21:37] #115 closed

[2021-10-30 21:45] AhmetMericOzcan commented on #115
Sorry for posting this. I found that I made a mistake. You can delete this issue. Br.

[2021-11-09 19:34] #114 closed

[2022-01-11 20:31] FlachyJoe opened #116 "Need help to create a chain from global placements"
Hi,
I'm trying to use ikpy with FreeCAD and can't find how to create a chain from object placements.

Placements are global coordinates and decomposable in Base (translation from origin) and Rotation (quaternion).
I think I get a link origin_translation by subtraction of its Base by the last link Base but can't figure how to get the origin_rotation.

Thanks !

[2022-01-13 10:13] Phylliade commented on #116
Hello,

Do you know the value of your `origin_orientation`?

[2022-01-13 11:34] FlachyJoe commented on #116
Basically I only know objects placement in global coordinates. I understood a link origin_rotation is defined in local coordinates so no: I don't know each link origin_rotation.
An other question torments me: is axis defined in local coordinates too ?

[2022-01-17 11:59] Phylliade commented on #116
Ok I get it.

In this case you don't care about origin_translation or origin_rotation.
These are positional attributes of your link at the origin of the robot (e.g. the table)

In your case, you want to position the other links of the robot and that's easy:

1. Create a robot using a chain of links, indépendant of the position
2. Apply inverse kinematics on the robot. In order to do so, you effect

[2022-01-17 19:25] FlachyJoe commented on #116
1. But I can't create a chain of links with all null origins and rotations, it has no sense ! As I only know the objects global placement and relative rotation axis I have to compute the links data from them.
2. I already use inverse kinematics to set the robot in this position but it only works from an aligned state. If I have a robot in the state shown I don't know how to put it back (think I ca

[2022-01-18 16:27] FlachyJoe commented on #116
I'm not agree as you use _ikpy/resources/poppy_ergo.URDF_ in which we find such data:
`<link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00619082439227047 1.87708924758407E-10 0.0111397401808713"
        rpy="0 0 0" />`
parsed by https://github.com/Phylliade/ikpy/blob/3966be998ce0ece1d1068dd11b5f2c42b172cf30/src/ikpy/urdf/URDF.py#L241
so origin_translation and origin_orienta

[2022-01-19 12:20] Phylliade commented on #116
Yep you're right, that's just a misanderstanding.

To recap:

* You have on one hand your **chains's geometry**, where each link has a defined geometry, such as `<link name="base_link"><origin xyz="-0.00619082439227047 1.87708924758407E-10 0.0111397401808713" rpy="0 0 0" />` That's all you need to create a chain. It is something you bring by yourself when using IKPy
* You move your chain using **a

[2022-01-19 22:23] FlachyJoe commented on #116
Solved.
FreeCAD has placement calculus implemented and I found how to get origin relative to another.
[code]

[2022-01-19 22:23] #116 closed

[2022-01-19 22:34] Phylliade commented on #116
Great!

[2022-02-18 22:49] AntonioConsiglio opened #119 "Issue in Chain.plot method when ax = None"
![image](https://user-images.githubusercontent.com/77753494/154771442-639bda51-c992-4d6f-aee9-b2b0009445b2.png)

the output of the plot.init_3d_figure() should be --> fig, ax but only ax is written. As you can see from the screenshot it is useful to add the _ to avoid the issue.

[2022-02-19 10:32] Phylliade commented on #119
Hello @AntonioConsiglio,

Thanks for the feedback!

Why do you need the `fig` object? I've looked and it's not used in the [code](https://github.com/Phylliade/ikpy/blob/f2aa3be1b62d901098035ee13f6850b75ad9416a/src/ikpy/chain.py#L195)

[2022-02-19 10:38] AntonioConsiglio commented on #119
Hello @Phylliade , of course it's not in the core.
But if you see the function called " init_3d_figure()" the output is fig,ax. The only thing we need is ax, so we need to take the second output but in that case in the variable ax is stored the fig output insted of ax.
Here the link to the [code](https://github.com/Phylliade/ikpy/blob/f2aa3be1b62d901098035ee13f6850b75ad9416a/src/ikpy/utils/plot.py

[2022-02-19 10:41] Phylliade commented on #119
ah ok! sorry! yep clear
I'll psuh a fix

[2022-02-19 14:10] #119 closed

[2022-03-15 13:31] Miker2808 opened #122 "Not working with full referential (orientation mode "all") with unity orientation"
Tried quaternions and eulers, in any possible combination, it always works on one axis and died completely in another when the orientation comes from unity, (both quaternions and eulers) if you have a suggestion or would like to make it a possibility to insert quaternions instead of rotation matrixes it would be great, so far it seems the IK works only for position and not orientation.
I attempted

[2022-03-17 11:34] Phylliade commented on #122
Hello @Miker2808, can you copy paste the code you're using?

[2022-03-21 10:26] Miker2808 commented on #122
Sorry if my issue was a little aggressive, I really lost my mind over this orientation. unity conflicting with my URDF made it really difficult with shifting orientation.
I'm including the full script, it communicates using ROS2 (ROS2 coms from unity straight away as Vector3 or Quaternion) depending on the script, I can include a quaternion script as well.
my Unity is Y axis is up, while the URDF

[2022-03-30 12:03] LorenzoFerriniCodes opened #123 "[regression] inverse kinematic from urdf chain broken in 3.3"
I have installed today ikpy v3.3, and it seems that on [code](https://github.com/ros4hri/hri_fullbody/blob/master/src/hri_fullbody/jointstate.py) that was previously working it is always estimating 0 (or very close to zero) values for the joint angles. It seems that the problem was introduced with commit d879456.

Brief explanation of what we are doing in the code linked: using human 3D pose estim

[2022-04-03 17:05] nickredsox opened #124 "Trouble creating chain with URDFlink"
Hello,

I am having a problem trying to create a chain from a URDF link. Right now I am trying to model a 4 dof robot similar to Trossen PincherX (https://www.trossenrobotics.com/pincherx-100-robot-arm.aspx) where I have a base that rotates about z axis and three other joints that rotate about another axis.

I have been trying to create with URDFlink using the example but I think I must be missing

[2022-04-04 20:40] Phylliade commented on #124
Hello @nickredsox,

Thanks for your detailed issue;

Whereas it's possible to create URDF links by hand, it's recommended to use the URDF file of your robot to create your chain.

[This file](https://github.com/Interbotix/interbotix_ros_manipulators/blob/main/interbotix_ros_xsarms/interbotix_xsarm_descriptions/urdf/px100.urdf.xacro) looks like a valid URDF file your robot: what do you think?

[2022-04-05 09:55] Phylliade commented on #123
Ouch that's weird!

Thanks for the clear issue @LorenzoFerriniCodes !

The difference between the code before and after the commit you pointed is that a new solver is used: instead of using a standard scalar solver, a least square solver is used;
It's generally improved the speed and accuracy of the computations;

That's very weird it's breaking your use-case, i will have a look!

[2022-04-05 09:57] Phylliade commented on #122
Here is a working example of the full orientation mode:

[code]

[2022-04-05 09:58] Phylliade commented on #122
Taken from here: https://github.com/Phylliade/ikpy/blob/master/tests/test_orientation.py#L26

[2022-04-05 10:00] Phylliade commented on #123
In the meantime, is it a problem for you to use v3.2?

[2022-04-05 10:30] LorenzoFerriniCodes commented on #123
No problem, for the moment I will specify 3.2 version as a requirement.

[2022-04-05 10:31] Phylliade commented on #123
Cool! Thanks again for the issue!

[2022-04-09 01:12] nickredsox commented on #124
Thanks for the response and the link. I will have to look at that link in more detail later because I was hoping to avoid the URDF files. It has been a long time since I used ROS and am not particularly familiar with it

[2022-04-25 09:32] MarcDcls commented on #108
Hi @Phylliade,

It seems that the argument `optimization_method` is never used in `inverse_kinematic_optimization` , can we really change the optimization algorithm through this argument ?

[2022-04-26 09:43] Phylliade commented on #108
Hello @MarcDcls , yep you're right, this parameter is not used anymore

[2022-04-26 09:48] Phylliade commented on #108
Do you need access to the old optimization method, based on L-BFGS-B?

In https://github.com/Phylliade/ikpy/issues/123, access to L-BFGS-B is required because the new optimization method it breaks performances on some cases (to be dug)

[2022-04-29 07:24] MarcDcls commented on #108
Hi @Phylliade,

I wanted to test several optimization methods to find the one that fit the best my problem. I've managed to do it by myself so I don't have issue anymore. Thank for your help

[2022-06-20 00:28] #123 closed

[2022-06-20 00:29] #124 closed

[2022-07-30 23:03] #122 closed

[2022-09-21 11:54] luoww1992 opened #127 "how to get pose?"
now i have a human 3d keypoints file.
how can i get the pose euler rotation angle or quaternion with parent-child relationship like smpl pose,
i want to use it to drive skeleton in blender or UE4.
i have tested to make bvh file to use it in blender, but i want to run it in real time, so ineed to change the method.
can you give me some adviences?

[2022-11-29 04:34] DoWhileGeek opened #129 "Supporting ik interpolation between two positions"
First off, this project is fantastic, it seriously helps with DIY arm development! I'm mostly asking if this is something within the purview of this library, but how do y'all feel about supporting interpolated values between two points, your current, and target position? I'm working on a pick and place (of a sort) robot, and a large part of the job is picking up items from one or several places, a